{% extends 'base.html' %}
{% block body %}

<script type="text/javascript">

setTimeout(function ()
    {
        if (self.name != '_refreshed_'){
        self.name = '_refreshed_';
        self.location.reload(true);
    } else {
        self.name = '';
    }
    }, 500);


</script>



<h2>Comparison between two sets of recommendations</h2>

<div class="container">
  <h3><b>Instructions</b></h3>
  <h4> This is the last step! This page shows you your original recommended movies and asks you to <strong>compare them to another set of recommended movies (based on some other criteria)</strong>.</h4>
  <h4> The questions ask you to <strong>choose between the two sets of recommended movies</strong>, based on different criteria.</h4>
  <h4> You can explore more details about each movie by <strong> clicking on the title</strong> (similar to previous pages).</h4>

  <!-- <h4>You can sort the columns by clicking on the column names. You can filter each column as well, look at the bottom of the the table </h4> -->



<div class="panel panel-default">


<div class="panel panel-heading">

  <h3><strong>Your recommended movies (referred to as SET A later) were:</strong></h3>

<ul>
  <li><h3><strong><a href="/view_recommended_item/{{pred_1.id}}" target="_blank">{{pred_1.title}}</a></strong></h3> </li>
  <li><h3><strong><a href="/view_recommended_item/{{pred_2.id}}" target="_blank">{{pred_2.title}}</a></strong></h3></li>
  <li><h3><strong><a href="/view_recommended_item/{{pred_3.id}}" target="_blank">{{pred_3.title}}</a></strong></h3> </li>
  <li><h3><strong><a href="/view_recommended_item/{{pred_4.id}}" target="_blank">{{pred_4.title}}</a></strong></h3></li>
  <li><h3><strong><a href="/view_recommended_item/{{pred_5.id}}" target="_blank">{{pred_5.title}}</a></strong></h3> </li>

</ul>



</div>
</div>


<h3>The following are another set of movie recommendations. Please explore the movies in detail by clicking on them.</h3>


<div class="panel panel-default">


<div class="panel panel-heading">

  <h3><strong> Now your recommended movies (referred to as SET B later) are:</strong></h3>

<ul>
  <li><h3><strong><a href="/view_recommended_item/{{pred_11.id}}" target="_blank">{{pred_11.title}}</a></strong></h3> </li>
  <li><h3><strong><a href="/view_recommended_item/{{pred_12.id}}" target="_blank">{{pred_12.title}}</a></strong></h3></li>
  <li><h3><strong><a href="/view_recommended_item/{{pred_13.id}}" target="_blank">{{pred_13.title}}</a></strong></h3> </li>
  <li><h3><strong><a href="/view_recommended_item/{{pred_14.id}}" target="_blank">{{pred_14.title}}</a></strong></h3></li>
  <li><h3><strong><a href="/view_recommended_item/{{pred_15.id}}" target="_blank">{{pred_15.title}}</a></strong></h3> </li>

</ul>



</div>
</div>

<h3><strong> Compare SET A with SET B</strong></h3>

<h3>After you are done exploring, please answer the following questions based on your overall impressions of SET A vs SET B. You will be asked to choose between one of them.</h3>



<div class="panel panel-default">



  <!-- Default panel contents -->

      <form class="form-check" action="/within_feedback" method="POST">

<!-- For Recommendation 1.......................................................................... -->


<div class="panel-heading">


        <div class="panel panel-body" style="background-color:#f2f4f7">


        <div class="panel-heading">
          <h4> In your opinion, which recommendation set provided you with more movies that you couldn't have discovered on your own?</h4>
      <div class="control-group inline">
        <div class="controls">
          <div class="container">

          </div>
          <label class="radio">
            <input type="radio" name="within_unexp_find" id="1" value="1">SET A</label>
          <label class="radio">
            <input type="radio" name="within_unexp_find" id="2" value="2">SET B</label>
        </div>
      </div>
    </div>


  </div>



  <div class="panel panel-body" style="background-color:#f2f4f7">


  <div class="panel-heading">
    <h4> In your opinion, which recommendation set provided you with movies that are different from what you usually watch?</h4>
  <div class="control-group inline">
  <div class="controls">
    <div class="container">

    </div>
    <label class="radio">
      <input type="radio" name="within_unexp_implicit" id="1" value="1">SET A</label>
    <label class="radio">
      <input type="radio" name="within_unexp_implicit" id="2" value="2">SET B</label>
  </div>
  </div>
  </div>


  </div>


  <div class="panel panel-body" style="background-color:#f2f4f7">


  <div class="panel-heading">
    <h4> In your opinion, which recommendation set provided you with more movies that you've never seen before?</h4>
  <div class="control-group inline">
  <div class="controls">
    <div class="container">

    </div>
    <label class="radio">
      <input type="radio" name="within_novel" id="1" value="1">SET A</label>
    <label class="radio">
      <input type="radio" name="within_novel" id="2" value="2">SET B</label>
  </div>
  </div>
  </div>


  </div>


  <div class="panel panel-body" style="background-color:#f2f4f7">


  <div class="panel-heading">
    <h4> In your opinion, which recommendation set provided you with more diverse recommendations?</h4>
  <div class="control-group inline">
  <div class="controls">
    <div class="container">

    </div>
    <label class="radio">
      <input type="radio" name="within_diversity" id="1" value="1">SET A</label>
    <label class="radio">
      <input type="radio" name="within_diversity" id="2" value="2">SET B</label>
  </div>
  </div>
  </div>


  </div>


  <div class="panel panel-body" style="background-color:#f2f4f7">


  <div class="panel-heading">
    <h4> Which recommendation set are you more satisfied with?</h4>
  <div class="control-group inline">
  <div class="controls">
    <div class="container">

    </div>
    <label class="radio">
      <input type="radio" name="within_satisfaction" id="1" value="1">SET A</label>
    <label class="radio">
      <input type="radio" name="within_satisfaction" id="2" value="2">SET B</label>
  </div>
  </div>
  </div>


  </div>


  <div class="panel panel-body" style="background-color:#f2f4f7">


  <div class="panel-heading">
    <h3>Any additional feedback?</h3>
    <h4> Would you like to add any other feedback, to help us in making your experience better? It can be anything related to the recommendations, the website or your experience.</h4>
  <div class="control-group inline">
  <div class="controls">
    <div class="container">

    </div>
<textarea name="any_feedback" rows="8" cols="80">Any Feedback?</textarea>

  </div>
  </div>


  </div>


</div>


<div class="panel panel-heading">

<button class="btn btn-danger btn-lg" id="update-button" type="submit">Submit Feedback and Complete Session</button>
      </form>


</div>


</div>



<div class="container">
<h4>In case of any queries/issues/additional feedback, please email <b>movirec_movies@gmail.com</b></h4>
</div>


{% endblock %}
