{% extends 'base.html' %}
{% block body %}


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/3.2.4/css/fixedColumns.dataTables.min.css"/>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js"></script>



<script type="text/javascript">
$(document).ready(function() {
    // Setup - add a text input to each footer cell
    $('#example tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
    } );

    // DataTable
    var table = $('.table').DataTable();

    // Apply the search
    table.columns().every( function () {
        var that = this;

        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
} );
</script>



<style media="screen" type="text/css">
tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }
</style>


<style media="screen" type="text/css">
tfoot {
    display: table-header-group;
}
</style>

<div class="container">
  <h3><b>Instructions</b></h3>
  <h4>Click on the <strong>Movie Titles below</strong> or <strong>ratings</strong> to explore more about the movies and rate them! Rate <b>around 15 Movies</b> for good results!</h4>
  <h4>You can sort the columns by clicking on the column names. You can filter each column as well, look at the bottom of the the table. To get all your previously rated movies, just click and sort by the rating columns.</h4>
<div class="container">

</div>

  <h4> Once you have rated all the movies you want, click on <b>Calculate & Show Recommendations</b>. <b>It will take 2-3 minutes for the next page to load, so you can do anything else in the meanwhile</b>. Don't click on anything else till that  page loads. </h4>

</div>


<div class="panel panel-default">

  <div class="panel-heading"><h4><strong>User Details</strong></h4>
        <!-- Name: {{user.first_name}} {{user.last_name}}<br> -->
        email: {{user.email}}<br>
    </h5>
  </div>



<div class="container" style="margin-top: 20px" >

<div class="row">
  <div class="col-md-10">



    <table id="example" class="table table-bordered table-hover" style="width:100%">

      <thead>
        <td>Movie Title</td>
        <td>Year</td>
        <td>Your Rating</td>

      </thead>
      <tbody>
        {% for r in ratings %}

            <tr>
              <td><a href="/view_item/{{r.item_id}}">{{r.item.title}}</a></td>
              <td>{{r.item.year}}</td>
              <td><a href="/view_item/{{r.item_id}}">{{r.rating}}</a></td>
            </tr>
            {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Movie Title</th>
          <th>Year</th>
          <th>Your Rating</th>
        </tr>

      </tfoot>
    </table>


  </div>

</div>

</div>




{% endblock %}
